<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
        <typeAliases>
            <typeAlias type="com.legacystudy.dto.UserVO" alias="UserVO"/>
            <typeAlias type="com.legacystudy.dto.BoardVO" alias="BoardVO"/>
            <typeAlias type="com.legacystudy.dto.ComentVO" alias="ComentVO"/>
        </typeAliases>
    </configuration>